################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentArchiverAPI/appsettings.Development.json
# Ignore Visual Studio temporary files
.vs/
# Build
bin/
obj/
.vs/
*.user
*.suo
*.dbmdl
*.log
*.tlog
